* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar h1{
    font-size: 35pt;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #FB9AD1;
}

.navbar h1 span {
    color: black;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
} 

.navbar ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FB9AD1;
}

.main {
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    overflow: hidden;
}

.main .main-content {
    flex: 1;
}

.main .circle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, .2);
}

.main .circle-left {
    transform: translateX(-300px);
}

.main .circle-right {
    transform: translateX(300px);
}

.main .main-content .brackets {
    border: 5px solid black;
    height: 500px;
}

.main .main-content .brackets .brackets-content {
    background-color: white;
    height: 600px;
    width: 660px;
    transform: translate(20px,-50px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .main-content .brackets .brackets-content h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70pt;
    font-weight: bold;
}

.main .main-content .brackets .brackets-content h1:first-child{
    font-family: serif;
    font-weight: lighter;
}

.main .main-content .brackets .brackets-content p{
    font-size: 20pt;
    color: slategray;
    margin: 20px 0px;
}

.main .main-content .brackets .brackets-content button{
    background-color: #FB9AD1;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 16pt;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
}

footer {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FB9AD1;
    text-align: center;
}