* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}

.navbar h1{
    font-size: 35pt;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #b99272;
}

.navbar h1 span {
    color: black;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
} 

.navbar ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar button{
    background-color: #b99272;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 13pt;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.navbar button:hover{
    background-color: #B17457;
}

.main {
    display: flex;
    height: calc(100vh - 74px);
    align-items: center;
    background-image: url("./../images/bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative; /* Needed for the pseudo-element */
    padding: 30px;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark layer */
    z-index: -1; /* Puts the layer behind the content */
}

.main h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 100pt;
}